*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div{
  width: 800px;
  height: 600px;
  border-radius: 15px;
  background: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.btn{
  width: 200px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  color: goldenrod;
  background: white;
  cursor: pointer;
  outline: none;
  transition: .5s;
}

.btn:hover{
  background: rgba(226, 226, 226, 0.904);
}